body {
    width: 100%;
    position: relative;
    display: grid;
    padding-top: 75px;
    font-family: Montserrat;

}

.title {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    position: relative;
    z-index: 2;
    text-align: center;
}

.divider-flex {
    display: flex;
    align-items: center;
    text-align: center;
    color: #f2f2ff;
    margin: 0px 30px;
}

/* Aplica o estilo na linha esquerda e direita simultaneamente */
.divider-flex::before,
.divider-flex::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #3498db;
}

/* Adiciona espaçamento ao redor do texto */
.divider-flex:not(:empty)::before {
    margin-right: 15px;
}

.divider-flex:not(:empty)::after {
    margin-left: 15px;
}